{% extends 'base.html' %}

{% block content %}
    <h2 style="text-align: center">{{ search | title }}</h2>
    <div class="row">
        {% for detail in details %}
            <div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <a href="/"><img
                                src="{{ detail.2 }}"
                                alt="Image" style="object-fit: contain; height: 200px; width: 200px;margin: auto"></a>
                    </div>
                    <div class="card-title" style="margin-left: 30px">
                        <p>{{ detail.1 }}</p>
                    </div>
                    <div class="card-action">
                        <a href="/">{{ detail.0 }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}